header{
    color: white;
    text-align: center;
    height: 370px;
}
.rozgrywki{
    color: white;
    text-align: center;
    width: 200px;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: inline-block;

}

.rozgrywki:hover{
    border-color: white;
}

main{
    background-color: whitesmoke;
    height: 50px;
}
#lewy{
    background-color: whitesmoke;
    width: 70%;
    height: 230px;
    
   
}

#prawy{
    background-color: whitesmoke;
    width: 30%;
    height: 230px;
    text-align: right;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: crimson;
}

h2{
    text-align: center;
    letter-spacing: 7px;
    text-transform: capitalize;
}

#bloki{
    display: inline-flex;
}

#divy{
    display:flex;
    width:100%;
}